* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
p {
    font-size: 18px;
    margin-left: 75px;
    margin-right: 75px;
  }
  
footer {
    text-align: center;
    height: 20px;
}
.parallax1 {
      /* The image used Project\pexels-jimmy-teoh-1010657.jpg*/
      background-image: url("images/pexels-asad-photo-maldives-3155666.jpg");
    
      /* height */
      min-height: 500px; 
    
      /* scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url("images/pexels-jimmy-teoh-1010657.jpg");
  
    /* height */
    min-height: 500px; 
  
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    color: #5591a4;
    font-family: 'Arial Narrow', sans-serif;
    text-align: center;
    margin-left: 50;
    margin-right: 50;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
  
.subheading {
    color: #5591a4;
    font-family: 'Arial Narrow', sans-serif;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 40px;
    font-size:18px;
    text-align:left;
}

  /* Reset default margin and padding */
  /* body, h1, h2, h3, p, ul, li, fieldset, legend {
      margin: 0;
      padding: 0;
  } */
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: black;
    margin: 0;
    padding: 0;
}
  
  header {
    background-color: #a4c4d8;
    padding: 0;
  }
  
  header img {
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  
  header ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color:#4D4F54;
    /*position: absolute;*/
    bottom: 0;
  }
  
  header ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 10px 30px;
    font-weight: bold;
  }
  
  header ul li a:hover {
    background-color: #f5f5f5;
    color:#5591a4;
  }
  
  .introduction {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  
.divider {
    box-sizing: content-box;
    height: 2px;
    border: 0;
    border-collapse: collapse;
    border-top: 1px solid rgba(0,0,0,.06);
    clear: both;
    margin-bottom: 40px;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-color: #b9ced1;
    margin-right: 125px;
    margin-left:125px;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    color: #5591a4;
}

form {
    text-align: left;
}

fieldset {
    border: 1px solid #5591a4;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

legend {
    color: #5591a4;
    font-weight: bold;
}

label {
    font-weight: bold;
}

#id,
#name1,
#email,
#phone,
#remarks {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #5591a4;
    border-radius: 5px;
}

#date,
#time {
    padding: 10px;
    margin: 5px 50px 5px 0px;
    border: 1px solid #5591a4;
    border-radius: 5px;
}

/*input[type="checkbox"] {
    margin-right: 5px;
}*/

#emailNotificationText,
#phoneNotificationText {
    margin-right: 20px;
}

button {
  background-color: #5591a4;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f5f5f5;
  color: #5591a4;
}

/* CSS for Reviews Page*/
.reviewbody {
  background-color: #97acb7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #1a1a1a;
  font-size: 24px;
}

h2 {
  color: #1a1a1a;
  font-size: 20px;
}

h3 {
  color: #1a1a1a;
  font-size: 16px;
}

.testimonial, .review {
  padding: 20px;
  margin: 20px 10px;
  border: 1px solid #e0e0e0;
  background-color: rgba(255, 255, 255, 0.8);
}

.client-name {
  color: #555555;
}

.user-review {
  padding: 20px;
  margin: 20px 10px;
  border: 1px solid #e0e0e0;
  background-color: rgba(255, 255, 255, 0.8);
}

.experience-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px; 
  border: 1px solid #e0e0e0; 
  margin: 20px 10px;
}

.testimonial-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.title-box{
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ccc;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.new-reviews {
  margin-top: 20px;
}

/*.checked {
color: orange;
}*/

.card { 
max-width: 120px; 
background: #fff; 
margin: 0; 
padding: 10px; 
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
width: 100%; 
border-radius: 5px; 
} 

.star { 
font-size: 20px; 
} 

.one { 
color: rgb(255, 0, 0); 
} 

.two { 
color: rgb(255, 106, 0); 
} 

.three { 
color: rgb(251, 255, 120); 
} 

.four { 
color: rgb(255, 255, 0); 
} 

.five { 
color: rgb(24, 159, 14); 
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
font-family: 'Roboto', Arial, sans-serif;
position: relative;
overflow: hidden;
margin: 10px;
min-width: 230px;
max-width: 315px;
width: 100%;
color: #000000;
text-align: center;
font-size: 16px;
background-color: #2C3447;
padding: 30px;
background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
figure.snip1390 figcaption {
width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
font-weight: 300;
}
figure.snip1390 h2 {
color: #ffffff;
}
figure.snip1390 h4 {
color: #a6a6a6;
}
figure.snip1390 blockquote {
font-size: 1em;
padding: 45px 20px 40px 50px;
margin-top: 30px;
background-color: #ffffff;
border-radius: 5px;
box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
text-align: left;
position: relative;
}
figure.snip1390 blockquote:before {
font-family: 'FontAwesome';
content: "\201C";
position: absolute;
font-size: 70px;
opacity: 0.25;
font-style: normal;
top: 0px;
left: 20px;
}
figure.snip1390 .profile {
width: 100px;
border-radius: 50%;
display: inline-block;
box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
margin-bottom: 10px;
border: solid 5px #A6A57A;
}

.reviewp {
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

/* CSS for Destinations Page*/
.destinationcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width:20%;
  display: inline-block;
  margin:30px;
  background-color: #f5f5f5;
  text-align: center;
}

.incard{
  font-size: medium;
}

.img {
border-radius: 5px 5px 0 0;
}

.bgimg{
background-image: url('images/pexels-laetitia-saad-612460.jpg');
background-repeat: no-repeat;
background-size: cover;
color: black;
position: absolute;
width: 100%;
height: 100%;
}

.card-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
}